<div class="mb-3">
    <label class="col-xs-12">Input Placeholder</label>
    <input type="text" ng-model="currentField.Settings.Placeholder" class="text-input theme-default form-control" />
</div>
<div class="mb-3">
    <label class="col-xs-12">Input Css Class</label>
    <input type="text" ng-model="currentField.Settings.InputCssClass" class="text-input theme-default form-control mh-50" placeholder="Input css class" />
</div>
<div class="mb-3">
    <label class="col-xs-12">Captcha Css Class</label>
    <input type="text" ng-model="currentField.Settings.CaptchaCssClass" class="text-input theme-default form-control mh-50" placeholder="Captcha css class" />
</div>
