<div class="modal modal-wide" tabindex="-1" role="dialog" id="wnMartrixColumns" ng-click="onLiveCurrentField($event)" >
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Matrix Columns</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="min-height:600px">
                <table class="table table-bordered table-columns-vmiddle table-striped">
                    <thead>
                        <tr>
                            <th>Column Name</th>
                            <th>Column Title</th>
                            <th class="w-20p">Column Type</th>
                            <th class="w-10">Order</th>
                            <th class="w-20p">Options</th>
                            <th class="w-20p">Settings</th>
                            <th>Events</th>
                            <th>Is Required</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="column in currentField.Settings.Columns | orderBy:'Order'">
                            <td>
                                <input type="text" ng-model="column.ColumnName" class="text-input theme-default form-control" placeholder="Column Name" />
                            </td>
                            <td>
                                <input type="text" ng-model="column.ColumnTitle" class="text-input theme-default form-control" placeholder="Column Title" />
                            </td>
                            <td>
                                <select ng-model="column.ColumnType" class="form-control"
                                        chosen inherit-select-classes="true" placeholder-text-multiple="'Column Type'">
                                    <option disabled></option>
                                    <option value="Label">Label</option>
                                    <option value="Textbox">Textbox</option>
                                    <option value="Number">Number</option>
                                    <option value="Radio">Radio</option>
                                    <option value="Checkbox">Checkbox</option>
                                    <option value="DropDownList">Drop Down List</option>
                                    <option value="DateTime">Date Time</option>
                                    <option value="Button">Button</option>
                                    <option value="File">File</option>
                                </select>
                            </td>
                            <td>
                                <input type="text" ng-model="column.Order" class="text-input theme-default form-control" placeholder="Order" />
                            </td>
                            <td>
                                <textarea ng-model="column.Options" class="text-input theme-default form-control"></textarea>
                            </td>
                            <td>
                                <textarea ng-model="column.Settings" class="text-input theme-default form-control"></textarea>
                            </td>
                            <td>
                                <textarea ng-model="column.Events" class="text-input theme-default form-control"></textarea>
                            </td>
                            <td>
                                <input type="checkbox" ng-model="column.IsRequired" />
                            </td>
                            <td>
                                <i class="zmdi zmdi-delete cursor-pointer" ng-click="currentField.Settings.Columns.splice($index,1)"></i>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="10">
                                <button type="button" class="btn btn-success" ng-click="currentField.Settings.Columns.push({ColumnType:'Textbox'})">Add Column</button>
                                <button type="button" class="btn btn-default m-l-5" data-bs-dismiss="modal">Close</button>
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>