<div class="mb-3">
    <label>Columns</label>
    <div class="form-control p-relative" ng-click="onShowMatrixColumnsClick()">
        <span ng-if="!currentField.Settings.Columns.length">No Columns</span>
        <span ng-if="currentField.Settings.Columns.length">Has Columns</span>
        <span class="more-dot">...</span>
    </div>
</div>
<div class="mb-3">
    <label>Add Button Text</label>
    <input type="text" ng-model="currentField.Settings.AddButtonText" class="text-input theme-default form-control" placeholder="Add button text" />
</div>
<div class="mb-3">
    <label class="col-xs-12">Disable Delete Row</label>
    <label class="toggle-switch theme-topol">
        <input type="checkbox" hidden="hidden" ng-model="currentField.Settings.DisableDeleteRow" />
        <div class="slider"></div>
    </label>
</div>
<div class="mb-3">
    <label>Table Type</label>
    <select ng-model="currentField.Settings.TableType" class="form-control"
            chosen inherit-select-classes="true" placeholder-text-multiple="'Select table type'" required>
        <option disabled></option>
        <option value="horizontal">Horizontal</option>
        <option value="vertical">Vertical</option>
    </select>
</div>