<ul class="nav flex-column">
    <li class="nav-item" ng-repeat="attribute in Product.Attributes">
        <div class="form-group">
            <label class="font-weight-bold text-dark">{{attribute.AttributeTitle}}:</label>
            <select ng-model="attribute.Val" ng-change="onAttributeValueChange()" class="form-control"
                    ng-options="option for option in attribute.Value">
                <option value="">Select {{attribute.AttributeTitle}}</option>
            </select>
        </div>
    </li>
    <li class="nav-item">
        <div class="form-group form-group2">
            <label class="text-dark">QTY:</label>
            <select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
            </select>
        </div>
    </li>
</ul>