.radio-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

    .radio-section h1 {
        margin-bottom: 20px;
        font-size: 16px;
    }

radio-list {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    radio-list .radio-item [type="radio"] {
        display: none;
    }

    radio-list .radio-item + radio-list .radio-item {
        margin-top: 15px;
    }

    radio-list .radio-item label {
        display: block;
        padding: 20px 60px;
        background: #1d1d42;
        border: 2px solid rgba(255, 255, 255, 0.1);
        border-radius: 8px;
        cursor: pointer;
        font-size: 18px;
        font-weight: 400;
        min-width: 250px;
        white-space: nowrap;
        position: relative;
        transition: 0.4s ease-in-out 0s;
    }

        radio-list .radio-item label:after,
        radio-list .radio-item label:before {
            content: "";
            position: absolute;
            border-radius: 50%;
        }

        radio-list .radio-item label:after {
            height: 19px;
            width: 19px;
            border: 2px solid #524eee;
            left: 19px;
            top: calc(50% - 12px);
        }

        radio-list .radio-item label:before {
            background: #524eee;
            height: 20px;
            width: 20px;
            left: 21px;
            top: calc(50%-5px);
            transform: scale(5);
            opacity: 0;
            visibility: hidden;
            transition: 0.4s ease-in-out 0s;
        }

    radio-list .radio-item [type="radio"]:checked ~ label {
        border-color: #524eee;
    }

        radio-list .radio-item [type="radio"]:checked ~ label::before {
            opacity: 1;
            visibility: visible;
            transform: scale(1);
        }
