<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="10.0.0" targetFramework="net472" />
  <package id="Dapper" version="1.60.6" targetFramework="net472" />
  <package id="DotNetNuke.Abstractions" version="9.4.4" targetFramework="net472" />
  <package id="DotNetNuke.Core" version="9.4.4" targetFramework="net461" />
  <package id="DotNetNuke.DependencyInjection" version="9.4.4" targetFramework="net461" />
  <package id="DotNetNuke.Web" version="9.4.4" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection" version="2.1.1" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.1.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
  <package id="System.Net.Http" version="4.0.0" targetFramework="net472" />
</packages>