<div class="mb-3">
    <label class="col-xs-12">Max Length</label>
    <input type="number" ng-model="currentField.Settings.MaxLength" class="text-input theme-default form-control mh-50" placeholder="Field max length" />
</div>
<div class="mb-3" ng-if="currentField.Settings.MaxLength">
    <label class="col-xs-12">Show Max Length</label>
    <label class="toggle-switch theme-topol">
        <input type="checkbox" hidden="hidden" ng-model="currentField.Settings.ShowMaxLength" />
        <div class="slider"></div>
    </label>
</div>
<div class="mb-3">
    <label class="col-xs-12">Max Length Message</label>
    <input type="text" ng-model="currentField.Settings.MaxLengthMessage" class="text-input theme-default form-control mh-50" placeholder="Max length message" />
</div>
<div class="mb-3">
    <label class="col-xs-12">Placeholder</label>
    <input type="text" ng-model="currentField.Settings.Placeholder" class="text-input theme-default form-control" />
</div>
<div class="mb-3">
    <label class="col-xs-12">Input Css Class</label>
    <input type="text" ng-model="currentField.Settings.InputCssClass" class="text-input theme-default form-control mh-50" placeholder="Input css class" />
</div>
<div class="mb-3">
    <label class="col-xs-12">Icon Position</label>
    <input type="text" ng-model="currentField.Settings.IconPosition" class="text-input theme-default form-control" />
</div>
<div class="mb-3">
    <label class="col-xs-12">Font Icon</label>
    <input type="text" ng-model="currentField.Settings.FontIcon" class="text-input theme-default form-control" />
</div>
<div class="mb-3">
    <label class="col-xs-12">Input Mask Regex</label>
    <input type="text" ng-model="currentField.Settings.InputMask" class="text-input theme-default form-control mh-50" placeholder="Input Mask Options" />
</div>
<div class="mb-3">
    <label class="col-xs-12">Input Mask Type</label>
    <input type="text" ng-model="currentField.Settings.InputMaskType" class="text-input theme-default form-control mh-50" placeholder="Input Mask" />
</div>
<div class="mb-3">
    <label class="col-xs-12">Input Mask Options</label>
    <input type="text" ng-model="currentField.Settings.InputMaskOptions" class="text-input theme-default form-control mh-50" placeholder="Input Mask" />
</div>