<select ng-if="![FIELD].Settings.AllowMultiple" ng-model="[FIELD].Value" class="{{[FIELD].Settings.DropdownCssClass}}"
        chosen inherit-select-classes="true"
        ng-options="option[[FIELD].Settings.DataSource.ValueField] as option[[FIELD].Settings.DataSource.TextField] for option in [FIELD].Options"
        placeholder-text-single="[FIELD].Settings.Placeholder" is-json-value="[FIELD].IsJsonValue">
</select>

<select ng-if="[FIELD].Settings.AllowMultiple" ng-model="[FIELD].Value" class="{{[FIELD].Settings.DropdownCssClass}}"
        chosen inherit-select-classes="true" multiple
        ng-options="option[[FIELD].Settings.DataSource.ValueField] as option[[FIELD].Settings.DataSource.TextField] for option in [FIELD].Options"
        placeholder-text-single="[FIELD].Settings.Placeholder" is-json-value="[FIELD].IsJsonValue">
</select>
