<div class="mb-3">
    <label class="col-xs-12">Slider Css Class</label>
    <input type="text" ng-model="currentField.Settings.SliderCssClass" class="text-input theme-default form-control" />
</div>
<div class="mb-3">
    <label>Template</label>
    <div class="form-control p-relative" ng-click="onShowGridColumnsClick()">
        Click for edit template
        <span class="more-dot">...</span>
    </div>
</div>
<div class="mb-3">
    <label class="col-xs-12">Slider Options</label>
    <textarea ng-model="currentField.Settings.SliderOptions" class="text-input theme-default form-control"></textarea>
</div>
