<div class="mb-3">
    <label class="col-xs-12">Attributes Service ID</label>
    <input type="text" ng-model="currentField.Settings.AttributesServiceID" class="text-input theme-default form-control" />
</div>
<div class="mb-3">
    <label>Component Type</label>
    <select ng-model="currentField.Settings.ComponentType" class="form-control"
            chosen inherit-select-classes="true" required>
        <option disabled></option>
        <option value="dropdownlist">Drop Down List</option>
    </select>
</div>
<div class="mb-3">
    <label class="col-xs-12">Attribute Name</label>
    <input type="text" ng-model="currentField.Settings.AttributeName" class="text-input theme-default form-control" />
</div>
<div class="mb-3">
    <label class="col-xs-12">Result In Model</label>
    <input type="text" ng-model="currentField.Settings.ResultInModel" class="text-input theme-default form-control" />
</div>
<div class="mb-3">
    <label class="col-xs-12">Action After Change Value</label>
    <input type="text" ng-model="currentField.Settings.ActionID" class="text-input theme-default form-control" />
</div>
<div class="mb-3">
    <label class="col-xs-12">Placeholder</label>
    <input type="text" ng-model="currentField.Settings.Placeholder" class="text-input theme-default form-control" />
</div>
