<input type="{{[FIELD].Settings.InputType}}"
       id="bTextbox[FIELDNAME]"
       ng-model="[FIELD].Value"
       ng-disabled="![FIELD].IsEnabled"
       ng-minlength="{{[FIELD].Settings.MinLength}}"
       ng-maxlength="{{[FIELD].Settings.MaxLength}}"
       ng-keypress="bTextBox_onKeyPress([FIELD],$event)"
       ng-focus="bTextBox_onFocus([FIELD],$event)"
       ng-blur="bTextBox_onBlur([FIELD],$event)"
       placeholder="{{[FIELD].Settings.Placeholder}}"
       class="{{[FIELD].Settings.InputCssClass}}"
       ng-class="{'is-invalid':[FIELD].IsValidate && ([FIELD].RequiredError || ![FIELD].IsValid)}" />

<span ng-if="[FIELD].Settings.InputType=='password' || [FIELD].Settings.StayTogglePassword" class="zmdi zmdi-eye" ng-click="bTextBox_onTogglePassword([FIELD])" style="position: absolute;top: 12px;left: 12px;cursor: pointer;z-index: 999;"></span>


