<div class="table-responsive">
    <table class="table table-head-custom table-vertical-center">
        <thead>
            <tr>
                <th ng-if="[FIELD].Settings.ShowRowDetails" style="width:10px;"></th>
                <th ng-repeat="column in [FIELD].Settings.Columns" ng-if="!column.ShowInRowDetails" class="{{column.ColumnCss}}" style="{{column.ColumnStyle}}">
                    <span dynamic1="{{column.Title}}"></span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in [FIELD].Options" id="bGridRow{{$index}}">
                <td ng-if="[FIELD].Settings.ShowRowDetails" style="width:10px">
                    <a class="datatable-toggle-detail" href="" ng-click="onShowRowDetailsClick(row,$index)">
                        <i class="fa " ng-class="{'fa-caret-right':!row.IsExpanded,'fa-caret-down':row.IsExpanded}"></i>
                    </a>
                </td>
                <td ng-repeat="column in [FIELD].Settings.Columns" ng-if="!column.ShowInRowDetails" class="{{column.ColumnCss}}" style="{{column.ColumnStyle}}">
                    <mbd-column-value row="row" column="column" scope="this"></mbd-column-value>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-between align-items-center flex-wrap" ng-if="[FIELD].Settings.EnablePaging">
        <ul id="paging[FIELDNAME]" class="d-flex flex-wrap py-2 mr-3"></ul>
        <div class="d-flex align-items-center py-3">
            <select ng-model="[FIELD].Settings.PageSize" class="form-control form-control-sm font-weight-bold mr-4 border-0 bg-light" style="width: 75px;"
                    ng-options="p for p in gridPageSizes" ng-change="bGrid_onPageSizeChange([FIELD].Settings.PageSize)">
            </select>
            <span class="text-muted">
                Show {{([FIELD].Settings.PageIndex-1)*[FIELD].Settings.PageSize+1}} - {{[FIELD].Settings.PageIndex*[FIELD].Settings.PageSize}} از {{[FIELD].Settings.TotalCount | digits}} Item
            </span>
        </div>
    </div>

    <script type="text/ng-template" id="rowDetails">
        <tr id="bGridRow{{$index}}" class="datatable-row-detail" ng-show="{RowItem}.IsExpanded">
            <td class="datatable-detail" colspan="{{[FIELD].Settings.Columns.length}}">
                <table>
                    <tbody>
                        <tr ng-repeat="column in [FIELD].Settings.Columns | filter:{ShowInRowDetails:true}" class="datatable-row">
                            <td class="datatable-cell" ng-if="!column.HideTitleColumn">
                                {{column.Title}}
                            </td>
                            <td class="datatable-cell">
                                <mbd-column-value row="{RowItem}" column="column" scope="this"></mbd-column-value>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </script>
</div>
