<div class="mb-3">
    <label class="col-xs-12">Placeholder</label>
    <input type="text" ng-model="currentField.Settings.Placeholder" class="text-input theme-default form-control" />
</div>
<div class="mb-3">
    <label class="col-xs-12">Dropdown Css Class</label>
    <input type="text" ng-model="currentField.Settings.DropdownCssClass" class="text-input theme-default form-control" />
</div>
<div class="mb-3">
    <label class="col-xs-12">Text Field</label>
    <input type="text" ng-model="currentField.Settings.DataSource.TextField" class="text-input theme-default form-control" />
</div>
<div class="mb-3">
    <label class="col-xs-12">Value Field</label>
    <input type="text" ng-model="currentField.Settings.DataSource.ValueField" class="text-input theme-default form-control" />
</div>
<div class="mb-3">
    <label class="col-xs-12">Show None/All</label>
    <label class="toggle-switch theme-topol">
        <input type="checkbox" hidden="hidden" ng-model="currentField.Settings.ShowAll" />
        <div class="slider"></div>
    </label>
</div>
<div class="mb-3" ng-if="currentField.Settings.ShowAll">
    <label class="col-xs-12">All Text</label>
    <input type="text" ng-model="currentField.Settings.AllText" class="text-input theme-default form-control" placeholder="All or none text" />
</div>