<div class="mb-3">
    <label>Steps</label>
    <div class="form-control p-relative" ng-click="onShowStepsClick()">
        <span ng-if="!currentField.Settings.Steps.length">No Step</span>
        <span ng-if="currentField.Settings.Steps.length">Has Steps</span>
        <span class="more-dot">...</span>
    </div>
</div>
<div class="mb-3">
    <label class="col-xs-12">Wizard Type</label>
    <select ng-model="currentField.Settings.WizardType" class="form-control"
            chosen inherit-select-classes="true" required>
        <option value="1">Version 1</option>
        <option value="2">Version 2</option>
    </select>
</div>
<div class="mb-3">
    <label class="col-xs-12">Wizard Css Class</label>
    <input type="text" ng-model="currentField.Settings.EditorCssClass" class="text-input theme-default form-control mh-50" />
</div>
